* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1d2c3f;
  font-family: 'Montserrat', sans-serif;
}

#root {
  max-width: 580px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 30px 30px 40px 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__title {
  margin-bottom: 15px;
  color: #4e4f53;
  font-size: 24px;
  font-weight: 700;
}

.header__list {
  padding-bottom: 5px;
  color: #a7a7a7;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

.header__list li {
  display: inline-block;    
}

.header__list li:first-child {
  margin-right: 220px;
}

.header__list li:nth-child(2) {
  margin-right: 90px;
}

.product__list-item {  
  display: flex; 
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.product__list-item__image {
  width: 92px;
  margin-right: 30px;  
}

.product__list-item__image img {
  width: 100%;
}

.product__list-item__desc {
  width: 137px;  
}

.product__list-item__desc-name {
  
  margin-bottom: 5px;
  color: #4e4f53;
  font-size: 16px;
  font-weight: 400;
}

.product__list-item__desc-price {
  color: #7f8187;
  font-size: 12px;
  font-weight: 400;
}

.product__list-item__qty {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.product__list-item__qty-minus,
.product__list-item__qty-plus {
  display: block;
  width: 16px;
  height: 16px;
  font-family: "FontAwesome";
  font-size: 10px;
  background-color: #a7a7a7;
  color: #fff;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

.product__list-item__qty-minus:hover,
.product__list-item__qty-plus:hover {
  background-color: #8bc058;
}

.product__list-item__qty-value {
  width: 40px;
  text-align: center;
  color: #4e4f53;
  font-size: 18px;
  font-weight: 400;
}

.product__list-item__price {
  width: 80px;
  margin-right: 25px; 
  color: #478cba;
  font-size: 18px;
  font-weight: 700;
}

.product__list-item__deleteBtn {
  font-family: "FontAwesome";
  font-size: 14px;
  color: #a7a7a7;
}

.product__list-item__deleteBtn:hover {
  color: #9e4444;
}

.product__list-total {
  display: flex; 
  justify-content: flex-end;
  align-items: center;   
  margin-bottom: 28px;
  padding: 20px 39px 20px 0;
  border-bottom: 1px solid #ddd;    
  color: #4e4f53;
  font-size: 16px;
  font-weight: 700;   
}

.product__list-total span {
  display: inline-block;
  width: 80px;
  margin-left: 10px;
  color: #478cba;
  font-size: 18px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  padding: 9px 19px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;

  text-decoration: none;
}

.btn:first-child {
  margin-right: 10px;
}

.green {
  background-color: #8bc058;
}

.grey {
  background-color: #a7a7a7;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

